# Lian-Li Galahad II Performance AIO
SUBSYSTEM=="usb", ATTR{idVendor}=="0416", ATTR{idProduct}=="7371", MODE="0660", TAG+="uaccess"

# Lian-Li SL120 V2 Fan controller 0.5
SUBSYSTEM=="usb", ATTR{idVendor}=="0cf2", ATTR{idProduct}=="a105", MODE="0660", TAG+="uaccess"
